{% extends 'product/base.html' %}

{% block content %}
 <h1 style="margin: 15px;">product</h1>

 <div class="card" style="width: 20rem; display: inline-block; margin: 15px;">
    {% load static %}
    <img src="{% static 'product/imgs/'|add:product_val.image %}" class="card-img-top" alt="{{ product_val }}" width="250" height="250">
    <div class="card-body">
      <h5 class="card-title">{{product_val.title}}</h5>
      <p class="card-text">{{product_val.description}}</p>
      <h6 class="card-title">{{product_val.price}}$</h6>
      <p class="card-text">created: {{product_val.create_date}}</p>
      {% if product_val.catagory %}
      <a type="button" class="btn btn-success"href="{{ product_val.catagory.get_show_url }}">{{ product_val.catagory }}</a>
      {% endif %}
      <a type="button" class="btn btn-warning" href="{{ product_val.get_edit }}">edit</a>
      <a type="button" class="btn btn-danger" href="{{ product_val.get_delete }}">Delete</a>
      

    </div>
  </div>

{% endblock content %}